# [dbo].[Carrito]

In [0]:
USE [TiendaSara]
GO

In [0]:
/****** Object:  Table [dbo].[Carrito]    Script Date: 20/06/2024 01:10:14 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrito](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FolioVenta] [nvarchar](max) NOT NULL,
	[TotalCompra] [decimal](18, 2) NOT NULL,
	[Estatus] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
 CONSTRAINT [PK_Carrito] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[CarritoDetalle]

In [0]:
/****** Object:  Table [dbo].[CarritoDetalle]    Script Date: 20/06/2024 01:10:14 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarritoDetalle](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCarrito] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_CarritoDetalle] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Categorias]

In [0]:
/****** Object:  Table [dbo].[Categorias]    Script Date: 20/06/2024 01:10:14 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Categorias] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[Marcas]

In [0]:
/****** Object:  Table [dbo].[Marcas]    Script Date: 20/06/2024 01:10:14 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Marcas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[Productos]

In [0]:
/****** Object:  Table [dbo].[Productos]    Script Date: 20/06/2024 01:10:14 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[IdMarca] [int] NOT NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[Categorias]

In [0]:
SET IDENTITY_INSERT [dbo].[Categorias] ON 
INSERT [dbo].[Categorias] ([id], [Descripcion]) VALUES (1, N'Computacion')
INSERT [dbo].[Categorias] ([id], [Descripcion]) VALUES (2, N'Electronica')
INSERT [dbo].[Categorias] ([id], [Descripcion]) VALUES (3, N'Linea blanca')
INSERT [dbo].[Categorias] ([id], [Descripcion]) VALUES (4, N'Ropa')
INSERT [dbo].[Categorias] ([id], [Descripcion]) VALUES (5, N'Joyeria')
INSERT [dbo].[Categorias] ([id], [Descripcion]) VALUES (6, N'Muebles')
INSERT [dbo].[Categorias] ([id], [Descripcion]) VALUES (7, N'Electrodomesticos')
INSERT [dbo].[Categorias] ([id], [Descripcion]) VALUES (8, N'Relojeria')
INSERT [dbo].[Categorias] ([id], [Descripcion]) VALUES (9, N'Optica')
INSERT [dbo].[Categorias] ([id], [Descripcion]) VALUES (10, N'Herramientas')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO

# [dbo].[Marcas]

In [0]:
SET IDENTITY_INSERT [dbo].[Marcas] ON 
INSERT [dbo].[Marcas] ([id], [Descripcion]) VALUES (1, N'Taurus')
INSERT [dbo].[Marcas] ([id], [Descripcion]) VALUES (2, N'Samsung')
INSERT [dbo].[Marcas] ([id], [Descripcion]) VALUES (3, N'Asus')
INSERT [dbo].[Marcas] ([id], [Descripcion]) VALUES (4, N'Whirpool')
INSERT [dbo].[Marcas] ([id], [Descripcion]) VALUES (5, N'Dell')
INSERT [dbo].[Marcas] ([id], [Descripcion]) VALUES (6, N'Lenovo')
INSERT [dbo].[Marcas] ([id], [Descripcion]) VALUES (7, N'Acer')
INSERT [dbo].[Marcas] ([id], [Descripcion]) VALUES (8, N'Levis')
INSERT [dbo].[Marcas] ([id], [Descripcion]) VALUES (9, N'mabe')
INSERT [dbo].[Marcas] ([id], [Descripcion]) VALUES (10, N'Hp')
INSERT [dbo].[Marcas] ([id], [Descripcion]) VALUES (11, N'Oster')
INSERT [dbo].[Marcas] ([id], [Descripcion]) VALUES (12, N'Oggi')
SET IDENTITY_INSERT [dbo].[Marcas] OFF
GO

# [dbo].[Productos]

In [0]:
SET IDENTITY_INSERT [dbo].[Productos] ON 
INSERT [dbo].[Productos] ([id], [Descripcion], [Precio], [Cantidad], [IdCategoria], [IdMarca]) VALUES (1, N'Laptop', CAST(14999.00 AS Decimal(10, 2)), 10, 1, 3)
INSERT [dbo].[Productos] ([id], [Descripcion], [Precio], [Cantidad], [IdCategoria], [IdMarca]) VALUES (2, N'Lavadora', CAST(9999.00 AS Decimal(10, 2)), 8, 3, 4)
INSERT [dbo].[Productos] ([id], [Descripcion], [Precio], [Cantidad], [IdCategoria], [IdMarca]) VALUES (3, N'Tv 50', CAST(8999.00 AS Decimal(10, 2)), 12, 2, 2)
INSERT [dbo].[Productos] ([id], [Descripcion], [Precio], [Cantidad], [IdCategoria], [IdMarca]) VALUES (4, N'Licuadora ', CAST(1099.00 AS Decimal(10, 2)), 15, 7, 11)
INSERT [dbo].[Productos] ([id], [Descripcion], [Precio], [Cantidad], [IdCategoria], [IdMarca]) VALUES (5, N'Cafetera', CAST(899.00 AS Decimal(10, 2)), 6, 7, 1)
INSERT [dbo].[Productos] ([id], [Descripcion], [Precio], [Cantidad], [IdCategoria], [IdMarca]) VALUES (6, N'Pantalon', CAST(799.00 AS Decimal(10, 2)), 12, 4, 8)
INSERT [dbo].[Productos] ([id], [Descripcion], [Precio], [Cantidad], [IdCategoria], [IdMarca]) VALUES (7, N'laptop 2 en 1', CAST(17999.00 AS Decimal(10, 2)), 2, 1, 7)
INSERT [dbo].[Productos] ([id], [Descripcion], [Precio], [Cantidad], [IdCategoria], [IdMarca]) VALUES (8, N'Refrigerador 11 pies', CAST(11999.00 AS Decimal(10, 2)), 5, 3, 9)
INSERT [dbo].[Productos] ([id], [Descripcion], [Precio], [Cantidad], [IdCategoria], [IdMarca]) VALUES (11, N'Refrigerador 14 pies', CAST(14499.00 AS Decimal(10, 2)), 2, 3, 4)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO

# [FK_CarritoDetalle_Carrito]

In [0]:
ALTER TABLE [dbo].[CarritoDetalle]  WITH CHECK ADD  CONSTRAINT [FK_CarritoDetalle_Carrito] FOREIGN KEY([IdCarrito])
REFERENCES [dbo].[Carrito] ([id])
GO
ALTER TABLE [dbo].[CarritoDetalle] CHECK CONSTRAINT [FK_CarritoDetalle_Carrito]
GO

# [FK_CarritoDetalle_Productos]

In [0]:
ALTER TABLE [dbo].[CarritoDetalle]  WITH CHECK ADD  CONSTRAINT [FK_CarritoDetalle_Productos] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([id])
GO
ALTER TABLE [dbo].[CarritoDetalle] CHECK CONSTRAINT [FK_CarritoDetalle_Productos]
GO

# [FK_Productos_Categorias]

In [0]:
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categorias] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categorias] ([id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categorias]
GO

# [FK_Productos_Marcas]

In [0]:
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Marcas] FOREIGN KEY([IdMarca])
REFERENCES [dbo].[Marcas] ([id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Marcas]
GO